html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #222224;
    background: linear-gradient(to bottom, #222224 0%, #222224 45%, rgb(158, 156, 156));
}
.navbar{
    display: flex;
    background-color: #222224;
    padding: 0.1rem 0.3rem;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    box-shadow:  0 4px 10px rgba(0,0,0,0.2);
}
.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
.navbar li{
      color: rgb(255, 255, 255);
    font-size: 1.2rem;
    cursor: pointer;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    gap: 8px;
     white-space: nowrap;
     /* margin-right: 20px; */
     padding-left: 20px;
}
 a{
    text-decoration: none;
    color: rgb(241, 237, 237);
 }
 .hero{
    height: 100vh; /*full screen height*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    /* background: #222224; */
    color: beige;
    padding-top: 120px;
    font-size:22px;
    position: relative;
           /* background: linear-gradient(45deg, #222224, #636262);
} */
}
.herosec{
    position: relative;
    z-index: 3;
}
.herovid{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.herooverlay{
    position:absolute;
    inset: 0;
    background: rgba(0,0,0,0.75);
    z-index: 2;
}
.menu{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    /* background: white; */
    padding: 2px 5px;
    border-radius: 2px;
    font-family: 'Inter';
    font-size: 20px;
    cursor: pointer;
    line-height: 1;
    color: #fff;
 }

 .hero h1{
    font-size: 2.8rem;
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
  
 }
.herobuttons{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
     flex-wrap: nowrap;

}
.btn-primary{
    background-color: rgb(18, 18, 18);
    border: 1px solid #fff;
    border-radius: 8px;
    text-decoration: none;
    width: 150px;
    height: 50px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    
}
.btn-primary:hover{
    background-color: #050505;
}
.btn-secondary{
    background-color: rgb(18, 18, 18);;
    border: 1px solid #fff;
    padding: 1pc 2px;
    border-radius: 8px;
    text-decoration: none;
    width: 180px;
   white-space: nowrap;
   transition: background-color 0.3s;
}
.btn-secondary:hover{
    background-color: #050505;
}
.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 64px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-weight: 400;
    padding-top: 20px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.scissors{
    width: 90px;
    height: auto;
}
.down{
    min-height: 300px;
    background-color: rgb(102, 101, 101);
    padding: 3rem 4rem;
    color: rgb(9, 9, 9);
    

}
.Logo{
  font-family: 'Dancing Script', cursive;
    font-size: 64px;
    color: rgb(9, 9, 9);
    letter-spacing: 2px;
    font-weight: 400;
    padding-top: 20px;
    padding-left: 9px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

}
.brand{
    display: flex;
    align-items: center;
    gap: 10px;
}
.get{
    margin: 35px;
    padding: 10px 30px;
    font-size: 20px;
    color: rgb(9, 9, 9);
    background-color: rgb(174, 177, 180);
    border: 1px;
    border-radius: 15px;
    font-weight: 600;
    box-shadow:  0 4px 10px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
}
.get:hover{
    background-color: #222224;
}
.bottomsec{
    display: grid;
    grid-template-columns: 1.7fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 60px;
}
.copyright {
    margin-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 14px
}
.cont{
     height: 100vh; /*full screen height*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    background: #222224;
    color: beige;
    padding-top: 120px;
    font-size:22px;
       /* background: linear-gradient(45deg, #222224, #636262);*/

}
.hcont h1{
    font-size: 90px;
}
.hcont p{
     font-size: 1.1rem;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
    padding-bottom: 90px;
    color: #fff;
    transition: transform 0.5s ease;
}
.hcont p:hover{
    transform: scale(1.08);
}
.about{
    font-size: 1.2rem;
    margin: 0 auto;
    line-height: 1.4;
    padding-bottom: 90px;
    color: #ffffff;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}
.aboutp{
    padding-left: 20px;
}
.barber{
    padding-top: 40px;
    padding-right: 40px;
    -webkit-mask-image: radial-gradient(circle, black 60%, transparent 100%);/*to blur*/
    mask-image: radial-gradient(circle, black 60%, transparent 100%);
    transition:
     transform 0.8s ease,
     -webkit-mask-image 1.2s ease,
     mask-image 1.2s ease;
}
.barber:hover{
    transform: scale(1.08);/*to enlarge*/
    -webkit-mask-image: none;/*to remove blur*/
    mask-image: none;
}
.typing{
    white-space: pre-wrap;
    overflow: hidden;
    border-right: 2px solid #acacad;
   }
@keyframes blink{
    50% {border-color: transparent;}
}
.typing.blink{
      animation: blink 0.75s step-end infinite;
}
.book{
    color: #222224;
    background-color: whitesmoke;
    width: 100%;
    height: 350px;
        font-size: 1.2rem;
    margin: 0 auto;
    line-height: 1.4;
    padding-bottom: 90px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}
.Book{
    padding-left: 20px;
}
.bookimg{
    padding-top: 90px;
    padding-right: 20px;
}
.bookbtn{
    justify-content: left;
        background-color: rgb(95, 100, 68);
    border: 1px solid #fff;
    border-radius: 8px;
    text-decoration: none;
    width: 150px;
    height: 50px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    
}
.bookbtn:hover{
    background-color: #0c0c0c;
}
